#APP #FILTER main {
    padding-bottom: 45px;
}

#APP #FILTER .content-wrapper {
    padding-bottom: 75px;
}

#APP.is-scrolling .profile-info .thumb {
    width: 39px;
    height: 39px;
}

#APP.is-scrolling .profile-info .appeal {
    display: flex;
}

#APP.is-scrolling .profile-info .exit {
    display: none !important;
}

#APP {
    flex-wrap: wrap;
}

#APP #SIDER  {
    position: relative !important;
    padding: 0 !important;
    right: initial !important;
    z-index: 45 !important;
}

#APP .root-component {
    flex: 0;
}

#APP .root-component.active {
    flex: 1;
}

#APP .nav.nav-tabs {
    z-index: 5;
}

#APP .tab-content .tab-pane {
    flex: 1 1 100vw;
    transition: flex .3s ease-in-out;;
    display: block !important;
}

#APP .tab-content .tab-pane.active {
    flex: 0 0 100vw;
}

#APP .stick {
    bottom: 75px;
}

#APP .stick i.icon {
    font-size: 26px;
}

.modal.fade{
    z-index: -1;
    display: initial;
}

.modal.fade.show {
    z-index: 999999;
    display: initial;
}

.modal.fade.show .modal-dialog {
    z-index: 1050;
}

.modal.fade.show .btn {
    margin: 8px;
}

.modal .overflow-y-scroll.vw-100.h-100,
.widget-content .overflow-y-scroll.vw-100.h-100 {
    width: 100% !important;
}

#APP .stick {
    z-index: -1;
}

#APP #FILTER .overflow-y-scroll .items {
    margin-bottom: 7rem !important;
}
