#APP menu .item span.before {
    position: relative;
}

#APP menu .item span.before i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -7px;
}

#APP .tabs .tab-content {
    margin-top: 0;
}

#APP .widget .root-component main {
    max-height: initial;
    height: initial;
}
